@page "/class"
@using Application.Services.ClassServices
@using Application.DTOs;
@using Domain.Entities;

@inject IClassService ClassService
<h1>Class</h1> 
<a class="btn btn-primary" href="/class/add">Add Class</a>
<table class="table">
  <thead>
     <tr>
        <th>Id</th>
        <th>Name</th>
        <th>FaculityId</th>
        <th>EducationLevelId</th>
          <th>UserAdded</th>
        <th>DateAdded</th>
        <th>Status</th>
        <th>Actions</th>
        
    </tr>
  </thead>
   
    @foreach(var cls in classes ){   
    <tr>
        <td>@cls.Id</td>
        <td>@cls.Name</td>
        <td>@cls.FaculityId</td>
        <td>@cls.EducationLevelId</td>
        <td>@cls.UserAdded</td>
        <td>@cls.DateAdded</td>
        <td>@cls.Status</td>
        <td><a href="/class/@cls.Id" class="btn btn-primary">View Details</a></td>
    </tr>

    }
 
</table>
@code{
   
    private List<GetClassDTO> classes= new List<GetClassDTO>();
    protected override async Task OnInitializedAsync()
    {
        classes = await ClassService.GetClasssesAsync();
    }

}